.dashboard {
    .group-figure {
        display: flex;
        justify-content: space-between;

        figure {
            box-shadow: 0 0 20px #ccc;

            &:nth-child(1) {
                width: 60%;
            }

            &:nth-child(2) {
                width: calc(40% - 28px);
            }

            img {
                width: 100%;
                display: block;
            }
        }
    }
}